.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 50px;
  font-weight: bold;
  border: 2px solid #100f0f;
  background-color: rgba(255, 255, 255, 0.91);
  cursor: pointer;

}

.square:hover {
  background-color: rgb(221, 224, 243);
}

.square.x {
  color: #eac8c8;
}

.square.o {
  color: #00f;
}
.btn {
  margin-top: 60px;
  padding: 3em 2em;
  width: 300px;

  color: rgb(255, 255, 255);
  background: #c661e7;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

body {
  background-color: #282c34;
}

.btn:before {
  content: "";
  background: linear-gradient(400deg,
  #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000
  );
  position: absolute;
  top: -5px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 5px);
  height: calc(100% + 4px);
  animation: glowing-btn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-btn {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(30, 28, 28);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btnBack {
  all: unset;
  width: 200px;
  height: 30px;
  font-size: 26px;
  background: transparent;
  border: none;
  position: relative;
  color: #83e10f;
  cursor: grabbing;
  z-index: 1;
  padding: 10px 20px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;


}

.btnBack::after,
.btnBack::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.btnBack::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #100f0f;
  border-radius: 10px;
}





.btnBack:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.btnBack:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

div.result {
  font-size: 2rem;
  padding: 10px;
}

div.result.green {
  background-color: #15e015;
}

div.result.red {
  background-color: #f30606;
}
.btnN {
  margin-top: 1vh;
  padding: 0.6em 2em;
  width: 250px;
  width: 250px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnN:before {
  content: "";
  background: linear-gradient(45deg,
  #ff0000,
  #ff7300,
  #fffb00,
  #48ff00,

  #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btnN 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 15px;
}

@keyframes glowing-btnN {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.btnN:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.board-row {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.App {
  text-align: center;
  background: #282c34;
}
h2 {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px 16px;
}
h1 {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  font-size: calc(50px + 2vmin);
  color: white;
  padding: 10px 16px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;

}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}

